/*

.color1 { #1c31a5 };
.color2 { #101f78 };
.color3 { #020f59 };
.color4 { #010937 };
.color5 { #000524 };

*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 80px;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-login, .btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000524;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .btn-login {
    animation-delay: 0.5s;
  }
  
  .btn-register {
    animation-delay: 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.btn-login:hover,
.btn-register:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
  background-color: #090979; /* Muda a cor de fundo */
}

/* Animação de opacidade inicial */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  